@charset "UTF-8";
#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #7fac13;
  max-width: 990px;
  margin: auto;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #df198e;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #df198e;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-block: 16px;
  text-transform: uppercase;
  text-wrap: balance;
}
#es-rc #es-rc-content .es-kv {
  position: relative;
}
#es-rc #es-rc-content .es-kv__left {
  position: relative;
}
#es-rc #es-rc-content .es-kv__left--soczyste-container {
  position: absolute;
  bottom: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
}
#es-rc #es-rc-content .es-kv__left--soczyste-wrapper {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-kv__left--soczyste-wrapper:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-kv__left--soczyste-text {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}
#es-rc #es-rc-content .es-kv__right {
  position: relative;
}
#es-rc #es-rc-content .es-kv__right--nawilżenie {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-kv__right--nawilżenie:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-kv__right--text-container {
  margin-block: 24px;
}
#es-rc #es-rc-content .es-kv__right--text {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  position: relative;
  z-index: 1;
  height: 135px;
  width: 230px;
  margin: auto;
}
#es-rc #es-rc-content .es-kv__right--text > * {
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 2px 8px;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-kv__right--text > *:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-kv__right--text--blask {
  background-color: #000000;
  transform: rotate(-5.87deg);
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 3;
}
#es-rc #es-rc-content .es-kv__right--text--kolor {
  background-color: #ffffff;
  color: #000000;
  transform: rotate(-2.16deg);
  position: absolute;
  top: 50px;
  left: 5px;
  z-index: 2;
}
#es-rc #es-rc-content .es-kv__right--text--formuła {
  background-color: #000000;
  transform: rotate(1.32deg);
  position: absolute;
  top: 90px;
  left: 1px;
  z-index: 1;
}
#es-rc #es-rc-content .es-kv__title {
  background-color: rgba(223, 25, 142, 0.8);
  width: 100%;
}
#es-rc #es-rc-content .es-kv__subtitle {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 22.4px;
  text-align: center;
  text-wrap: balance;
  padding-block: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__left--soczyste-container {
    left: 74%;
    bottom: 14%;
    z-index: 1;
  }
  #es-rc #es-rc-content .es-kv__right--nawilżenie {
    top: unset;
    bottom: -9%;
    left: 50%;
    max-width: 45%;
  }
  #es-rc #es-rc-content .es-kv__right--text-container {
    margin-block: 0;
    position: absolute;
    top: 1%;
    right: 1%;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__container {
    display: flex;
  }
  #es-rc #es-rc-content .es-kv__left--soczyste-container {
    left: 115%;
    bottom: 26%;
  }
  #es-rc #es-rc-content .es-kv__right--nawilżenie {
    top: 12%;
    left: 11%;
    max-width: 45%;
  }
  #es-rc #es-rc-content .es-kv__right--text {
    font-size: 20px;
    width: 175px;
    height: 100px;
  }
  #es-rc #es-rc-content .es-kv__right--text--kolor {
    top: 40px;
  }
  #es-rc #es-rc-content .es-kv__right--text--formuła {
    top: 70px;
  }
  #es-rc #es-rc-content .es-kv__text-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #es-rc #es-rc-content .es-kv__title {
    padding-block: 8px;
  }
  #es-rc #es-rc-content .es-kv__subtitle {
    padding-block: 4px;
  }
}
#es-rc #es-rc-content .es-colors__container {
  container-type: inline-size;
  container-name: colors;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-colors__item {
  position: relative;
  max-width: 150px;
  max-height: 430px;
  overflow: hidden;
}
#es-rc #es-rc-content .es-colors__bg {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-rc #es-rc-content .es-colors__bg--desktop {
  display: none;
}
#es-rc #es-rc-content .es-colors__name {
  text-align: center;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: balance;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0%);
}
@container colors (min-width: 300px) {
  #es-rc #es-rc-content .es-colors__item:nth-of-type(2) {
    background-color: #ff7167;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(4) {
    background-color: #ff5f74;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(6) {
    background-color: #ff6e72;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(8) {
    background-color: #d36089;
  }
}
@container colors (min-width: 450px) {
  #es-rc #es-rc-content .es-colors__item:nth-of-type(3) {
    background-color: #f3676d;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(4) {
    background-color: unset;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(5) {
    background-color: #ff78ab;
  }
}
@container colors (min-width: 600px) {
  #es-rc #es-rc-content .es-colors__item:nth-of-type(4) {
    background-color: #ff5f74;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(5) {
    background-color: unset;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(7) {
    background-color: #fc5365;
  }
}
@media (min-width: 700px) and (max-width: 899px) {
  #es-rc #es-rc-content .es-colors__container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  #es-rc #es-rc-content .es-colors__container {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(5) {
    background-color: #ff78ab;
  }
  #es-rc #es-rc-content .es-colors__item:nth-of-type(8) {
    background-color: unset;
  }
  #es-rc #es-rc-content .es-colors__bg--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-colors__bg--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-colors__name {
    font-size: 12.8px;
    top: 10px;
  }
}
#es-rc #es-rc-content .es-steps {
  position: relative;
  padding-top: 32px;
}
#es-rc #es-rc-content .es-steps__title {
  background-color: rgba(223, 25, 142, 0.8);
  padding: 10px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-steps__pack-wrapper {
  position: relative;
  overflow: hidden;
}
#es-rc #es-rc-content .es-steps__bg {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: auto;
  z-index: 1;
}
#es-rc #es-rc-content .es-steps__pack {
  position: relative;
  z-index: 2;
  max-height: 400px;
  width: auto;
  margin: 0;
}
#es-rc #es-rc-content .es-steps__soczyste-container {
  position: absolute;
  bottom: 47%;
  left: 69%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#es-rc #es-rc-content .es-steps__soczyste-wrapper {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-steps__soczyste-wrapper:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-steps__soczyste-text {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}
#es-rc #es-rc-content .es-steps__steps-wrapper {
  container-type: inline-size;
  container-name: steps;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 24px 32px 32px;
}
#es-rc #es-rc-content .es-steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
#es-rc #es-rc-content .es-steps__img-wrapper {
  overflow: hidden;
}
#es-rc #es-rc-content .es-steps__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-steps__img:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-steps__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  text-wrap: balance;
}
#es-rc #es-rc-content .es-steps__step-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 25.6px;
  letter-spacing: 1.28px;
}
#es-rc #es-rc-content .es-steps__steps-text {
  line-height: 1.3;
  font-size: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__soczyste-container {
    left: 74%;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__title {
    width: 100%;
    position: absolute;
    top: 57px;
    left: 0;
    margin-bottom: 0;
    z-index: 2;
  }
  #es-rc #es-rc-content .es-steps__pack-wrapper {
    overflow: unset;
  }
  #es-rc #es-rc-content .es-steps__soczyste-container {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    top: -1%;
    left: unset;
    right: -11%;
  }
  #es-rc #es-rc-content .es-steps__steps-wrapper {
    position: absolute;
    width: 80%;
    top: 30%;
    right: 0;
    z-index: 2;
    padding: 0;
    gap: 8px;
    align-items: flex-start;
  }
  #es-rc #es-rc-content .es-steps__item {
    flex-basis: 23%;
  }
  #es-rc #es-rc-content .es-steps__step-title {
    font-size: 22.4px;
    letter-spacing: 1.12px;
  }
}
@media (min-width: 880px) {
  #es-rc #es-rc-content .es-steps {
    padding-top: 32px;
  }
  #es-rc #es-rc-content .es-steps__soczyste-container {
    top: -10%;
    right: -9%;
  }
  #es-rc #es-rc-content .es-steps__steps-wrapper {
    width: 75%;
  }
  #es-rc #es-rc-content .es-steps__item {
    gap: 12px;
  }
}
#es-rc #es-rc-content .es-video {
  padding: 32px;
}
#es-rc #es-rc-content .es-video__iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-video {
    display: flex;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-video__iframe {
    max-width: 70%;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 32px;
}
#es-rc #es-rc-content .es-cross .es-section-title {
  padding-block: 0;
  margin-bottom: 60px;
}
@media (min-width: 880px) {
  #es-rc #es-rc-content .es-cross .es-section-title {
    font-size: 48px;
  }
}
#es-rc #es-rc-content .es-cross__productsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  container-type: inline-size;
  container-name: cross;
  gap: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.1);
}
#es-rc #es-rc-content .es-cross__img {
  transition: all 200ms ease-in-out;
  max-height: 300px;
  width: auto;
}
#es-rc #es-rc-content .es-cross__descCtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__desc {
  font-size: 16px;
  font-weight: 600;
  text-wrap: balance;
}
@container cross (min-width: 782px) {
  #es-rc #es-rc-content .es-cross__desc {
    height: 100px;
  }
}
#es-rc #es-rc-content .es-cross__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  width: 200px;
  padding-block: 18px;
  font-size: 18px;
  font-weight: 900;
  transition: 0.4s all ease-in-out;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cross__link:hover {
  background-color: #df198e;
}
#es-rc #es-rc-content .es-cross__disc {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
  padding: 0 20px;
}
#es-rc #es-rc-content .es-footer__logo {
  max-width: 250px;
}/*# sourceMappingURL=styles.css.map */