@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

$fs-base: 16px;
$fs-header: 32px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #ffffff;
$color-bg: #7fac13;
$color-accent: #df198e;
$color-accent-opacity: #df198ecc;
$color-black: #000000;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 880px;

$transition: all 200ms ease-in-out;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;

  ::selection {
    background-color: $color-accent;
    color: $color-main;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    padding-block: $px-M;
    text-transform: uppercase;
    text-wrap: balance;
  }
  .es-kv {
    position: relative;

    &__left {
      position: relative;

      &--soczyste-container {
        position: absolute;
        bottom: 10%;
        left: 60%;
        transform: translate(-50%, -50%);
      }

      &--soczyste-wrapper {
        position: relative;
        width: max-content;
        transition: $transition;

        &:hover {
          scale: 1.1;
        }
      }

      &--soczyste-text {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: max-content;
        color: $color-black;
        font-weight: $fw-bold;
        font-size: 15px;
      }
    }

    &__right {
      position: relative;

      &--nawilżenie {
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 250px;
        transition: $transition;

        &:hover {
          scale: 1.1;
        }
      }

      &--text-container {
        margin-block: $px-L;
      }

      &--text {
        font-family: $text-secondary;
        text-transform: uppercase;
        font-weight: $fw-extra-bold;
        font-size: 28px;
        position: relative;
        z-index: 1;
        height: 135px;
        width: 230px;
        margin: auto;

        > * {
          max-width: max-content;
          padding: 2px 8px;
          transition: $transition;

          &:hover {
            scale: 1.1;
          }
        }

        &--blask {
          background-color: $color-black;
          transform: rotate(-5.87deg);
          position: absolute;
          top: 13px;
          left: 5px;
          z-index: 3;
        }

        &--kolor {
          background-color: $color-main;
          color: $color-black;
          transform: rotate(-2.16deg);
          position: absolute;
          top: 50px;
          left: 5px;
          z-index: 2;
        }

        &--formuła {
          background-color: $color-black;
          transform: rotate(1.32deg);
          position: absolute;
          top: 90px;
          left: 1px;
          z-index: 1;
        }
      }
    }

    &__title {
      background-color: $color-accent-opacity;
      width: 100%;
    }

    &__subtitle {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: calc(1.4 * $fs-base);
      text-align: center;
      text-wrap: balance;
      padding-block: $px-M;
    }

    @media (min-width: $media-breakpoint-sm) {
      &__left {
        &--soczyste-container {
          left: 74%;
          bottom: 14%;
          z-index: 1;
        }
      }

      &__right {
        &--nawilżenie {
          top: unset;
          bottom: -9%;
          left: 50%;
          max-width: 45%;
        }

        &--text-container {
          margin-block: 0;
          position: absolute;
          top: 1%;
          right: 1%;
        }
      }
    }

    @media (min-width: $media-breakpoint-md) {
      &__container {
        display: flex;
      }

      &__left {
        &--soczyste-container {
          left: 115%;
          bottom: 26%;
        }
      }

      &__right {
        &--nawilżenie {
          top: 12%;
          left: 11%;
          max-width: 45%;
        }

        &--text {
          font-size: 20px;
          width: 175px;
          height: 100px;

          &--kolor {
            top: 40px;
          }

          &--formuła {
            top: 70px;
          }
        }
      }

      &__text-wrapper {
        width: 100%;
        position: absolute;
        bottom: 0;
      }

      &__title {
        padding-block: $px-S;
      }

      &__subtitle {
        padding-block: $px-XS;
      }
    }
  }

  .es-colors {
    &__container {
      container-type: inline-size;
      container-name: colors;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__item {
      position: relative;
      max-width: 150px;
      max-height: 430px;
      overflow: hidden;
    }

    &__bg {
      height: 100%;
      object-fit: cover;

      &--desktop {
        display: none;
      }
    }

    &__name {
      text-align: center;
      line-height: 1.3;
      font-weight: $fw-bold;
      text-transform: uppercase;
      text-wrap: balance;
      width: max-content;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    @container colors (min-width: 330px) {
      &__item {
        &:nth-of-type(2) {
          background-color: #ff7167;
        }
        &:nth-of-type(4) {
          background-color: #ff5f74;
        }
        &:nth-of-type(6) {
          background-color: #ff6e72;
        }
        &:nth-of-type(8) {
          background-color: #d36089;
        }
      }
    }

    @container colors (min-width: 450px) {
      &__item {
        &:nth-of-type(3) {
          background-color: #f3676d;
        }
        &:nth-of-type(4) {
          background-color: unset;
        }
        &:nth-of-type(5) {
          background-color: #ff78ab;
        }
      }
    }

    @container colors (min-width: 615px) {
      &__item {
        &:nth-of-type(4) {
          background-color: #ff5f74;
        }
        &:nth-of-type(5) {
          background-color: unset;
        }
        &:nth-of-type(7) {
          background-color: #fc5365;
        }
      }
    }

    @media (min-width: 700px) and (max-width: 899px) {
      &__container {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 1fr);
      }
    }

    @media (min-width: 900px) {
      &__container {
        flex-wrap: nowrap;
      }

      &__item {
        &:nth-of-type(5) {
          background-color: #ff78ab;
        }
        &:nth-of-type(8) {
          background-color: unset;
        }
      }

      &__bg {
        &--desktop {
          display: block;
        }
        &--mobile {
          display: none;
        }
      }

      &__name {
        font-size: calc(0.8 * $fs-base);
        top: 10px;
      }
    }
  }

  .es-steps {
    position: relative;
    padding-top: $px-XL;

    &__title {
      background-color: $color-accent-opacity;
      padding: 10px;
      margin-bottom: $px-XL;
    }

    &__pack-wrapper {
      position: relative;
      overflow: hidden;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 100%;
      width: auto;
      z-index: 1;
    }

    &__pack {
      position: relative;
      z-index: 2;
      max-height: 400px;
      width: auto;
      margin: 0;
    }

    &__soczyste {
      &-container {
        position: absolute;
        bottom: 47%;
        left: 69%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      &-wrapper {
        position: relative;
        width: max-content;
        transition: $transition;

        &:hover {
          scale: 1.1;
        }
      }

      &-text {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: max-content;
        color: $color-black;
        font-weight: $fw-bold;
        font-size: 15px;
      }
    }

    &__steps-wrapper {
      container-type: inline-size;
      container-name: steps;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      padding: $px-L $px-XL $px-XL;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
    }

    &__img-wrapper {
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition;

      &:hover {
        scale: 1.1;
      }
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      text-wrap: balance;
    }

    &__step-title {
      font-family: $text-secondary;
      text-transform: uppercase;
      font-size: calc(1.6 * $fs-base);
      letter-spacing: calc(0.05 * 1.6 * $fs-base);
    }

    &__steps-text {
      line-height: 1.3;
      font-size: $fs-base;
    }

    @media (min-width: $media-breakpoint-sm) {
      &__soczyste-container {
        left: 74%;
      }
    }

    @media (min-width: $media-breakpoint-md) {
      &__title {
        width: 100%;
        position: absolute;
        top: 57px;
        left: 0;
        margin-bottom: 0;
        z-index: 2;
      }

      &__soczyste-container {
        display: none;
      }

      &__steps-wrapper {
        position: absolute;
        width: 80%;
        top: 30%;
        right: 0;
        z-index: 2;
        padding: 0;
        gap: 8px;
        align-items: flex-start;
      }

      &__item {
        flex-basis: 23%;
      }

      &__step-title {
        font-size: calc(1.4 * $fs-base);
        letter-spacing: calc(0.05 * 1.4 * $fs-base);
      }
    }

    @media (min-width: $media-breakpoint-lg) {
      padding-top: 50px;
      &__steps-wrapper {
        width: 75%;
      }
      &__item {
        gap: 12px;
      }
    }
  }

  .es-video {
    padding: $px-XL;
    &__iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
    @media (min-width: $media-breakpoint-md) {
      display: flex;
      justify-content: center;
      &__iframe {
        max-width: 70%;
      }
    }
  }
}
